<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles"> 
</head>
<body>
	<nav class="InOut">
 			<a th:href="@{/login}">Accedi </a>	|
 			<a th:href="@{/register}">Registrati </a>	|
 			<a th:href="@{/logout}">Logout </a>
 	</nav>
	<h4>Inserimento Collezione</h4>
	
	<div th:replace="fragments/base.html :: navigator"></div>
	<div> 			
		<form th:action="@{'/collezione' + '/' + ${collezione.id} + '/' + 'admin/aggiungiOpereACollezione'}" method="POST">
			<table>
				<tr th:each="opera : ${opere}">
				<td>
					<a th:text="${opera.titolo}">Titolo</a>
					<input type="checkbox" onclick="collezione.id.addOpera(opera)">Aggiungi Opera
				</td>
			</tr>
	    	</table>
	    	<button type="submit" name="conferma" th:action="@{'/collezione' + '/' + ${collezione.id} + '/' + 'admin/aggiungiOpereACollezione'}">Conferma</button>
		</form>
	</div>
    <footer></footer>
</body>
</html>