<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles"> 
</head>
<body>
	<div th:replace="fragments/base.html :: login"></div>
	<h4>Inserimento Collezione</h4>
	
	<div th:replace="fragments/base.html :: navigator"></div>
	<div class="Corpo"> 			
		<form th:action="@{'/collezione' + '/' + ${collezione.id} + '/' + 'admin/aggiungiOpereACollezione'}" method="POST">
				<table>
					<tr th:each="opera : ${opere}">
						<td>
							<a th:text="| ${opera.titolo}  ${opera.artista.nome} ${opera.artista.cognome}
							 ${opera.id} | " >Titolo opera:</a>
						</td>
					</tr>
				</table>
			<span class="loginFormFieldName">Seleziona l'id</span>
			<input type="text" class="loginFormFieldInput" name="opera_id" id="opera_id">
			   	
	    	<button type="submit" name="conferma">Conferma</button>
	    	<input class="button" type="button" value="Indietro" onClick="javascript:history.back()" name="button">
		</form>
		
	</div>
	
	<div th:replace="fragments/base.html :: footer"></div>
</body>
</html>