<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles"> 
</head>
<body>
	<div th:replace="fragments/base.html :: login"></div>
	<h4>Inserimento Opera</h4>
	
	<div th:replace="fragments/base.html :: navigator"></div>
	<div class="Corpo"> 			
		<form th:action="@{'/opera' + '/' + ${opera.id} + '/' + 'admin/aggiungiCollezioneAOpera'}" method="POST">
				<table>
					<tr th:each="collezione : ${collezioni}">
						<td>
							<a th:text="| ${collezione.nome}  ${collezione.descrizione} ${collezione.curatore}
							 ${collezione.id} | " >Titolo opera:</a>
						</td>
					</tr>
				</table>
			<span class="loginFormFieldName">Seleziona l'id</span>
			<input type="text" class="loginFormFieldInput" name="collezione_id" id="collezione_id">
			   	
	    	<button type="submit" name="confermaOpera">Conferma</button>
		</form>
		
	</div>
	
	<div th:replace="fragments/base.html :: footer"></div>
</body>
</html>