<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles"> 
</head>
<body>
	<div th:replace="fragments/base.html :: login"></div>
	<h4>Opera a Collezione</h4>
	
	<div th:replace="fragments/base.html :: navigator"></div>
	<div class="Corpo"> 			
		<form th:action="@{'/collezione' + '/' + ${collezione.id} + '/' + 'admin/aggiungiOpereACollezione'}" method="POST">
				&nbsp;
			   	<table>
			   		<tr>
			   			<td>
			   				<a th:text="|Selezione l'opera che vuoi aggiungere 
			   				   alla collezione '${collezione.nome}'|"></a>
			   			</td>
			   			<td>
						   	<select name="opera" th:value = "${opera}">
						            	<option th:each = "opera : ${opere}"
						            			th:text = "|${opera.titolo}|"
						            			th:value = "${opera.id}">Leonardo Da Vinci</option>
						    </select>
					    </td>
					    <td>
					    	<button type="submit" name="conferma">Conferma</button>
					    </td>
			    	</tr>
	    		</table>
	    		&nbsp;
	    </form>
	    
	    <input class="button" type="button" value="Indietro" onClick="javascript:history.back()" name="button">
		
		
	</div>
	
	<div th:replace="fragments/base.html :: footer"></div>
</body>
</html>