<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link href="artista.css" rel="stylesheet">
	<title>Artisti</title>
	<link th:href="@{/css/artista.css}" rel="stylesheet">
</head>
<body>
  <h4>Elenco artisti:</h4>
    <ul>
		<li th:each="artista : ${artisti}">
		<a href="artista.html" 
		   th:href="@{'/artista' + '/' + ${artista.id}}" 
		   th:text="|${artista.nome} ${artista.cognome}|">Nome cognome</a>
		</li>
    </ul>

	<a th:href="@{admin/artistaForm}">Inserisci dati artista</a>

    <footer><a href="/">Home</a></footer>
</body>
</html>