<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles"> 
</head>
<body>
	<div th:replace="fragments/base.html :: login"></div>
	<h4>Inserimento Artista</h4>
	
	<div th:replace="fragments/base.html :: navigator"></div>
	<div class="Corpo">	
	
		<form th:action="@{/admin/artistaForm}" method="POST">
			<table>
				<tr>
		            <td>Nome</td>
		            <td><input type="text" placeholder="nome" required
		                       th:field="${artista.nome}"/></td>
					<td th:if="${#fields.hasErrors('artista.nome')}"
		                th:errors="${artista.nome}" th:style="'color:red'"></td>
		        </tr>
		        <tr>
		            <td>Cognome</td>
		            <td><input type="text" placeholder="cognome" required
		                       th:field="${artista.cognome}"/></td>
					<td th:if="${#fields.hasErrors('artista.cognome')}"
		                th:errors="${artista.cognome}" th:style="'color:red'"></td>
		        </tr>
		        <tr>
		            <td>Data di nascita</td>
		            <td><input type="date" placeholder="dataN" required
		                       th:field="${artista.dataN}"/></td>
		            <td th:if="${#fields.hasErrors('artista.dataN')}"
		                th:errors="${artista.dataoN}" th:style="'color:red'"></td>
		        </tr>
		        <tr>
		            <td>Luogo di nascita</td>
		            <td><input type="text" placeholder="luogoN" required
		                       th:field="${artista.luogoN}"/></td>
					<td th:if="${#fields.hasErrors('artista.luogoN')}"
		                th:errors="${artista.luogoN}" th:style="'color:red'"></td>
		        </tr>
		        <tr>
		            <td>Data di morte</td>
		            <td><input type="date" placeholder="dataM"
		                       th:field="${artista.dataM}"/></td>
		        </tr>
		        <tr>
		            <td>Luogo di morte</td>
		            <td><input type="text" placeholder="luogoM"
		                       th:field="${artista.luogoM}"/></td>
		        </tr>
		        <tr>
		            <td>Nazionalita</td>
		            <td><input type="text" placeholder="nazionalita" required
		                       th:field="${artista.nazionalita}"/></td>
					<td th:if="${#fields.hasErrors('artista.nazionalita')}"
		                th:errors="${artista.nazionalita}" th:style="'color:red'"></td>
		        </tr>
		        <tr>
		            <td>
		                <button type="submit">Conferma Inserimento</button>
		                <input class="button" type="button" value="Indietro" onClick="javascript:history.back()" name="button">
		            </td>
		        </tr>
	    	</table>
		</form>
	</div>
	
	<div th:replace="fragments/base.html :: footer"></div>
</body>
</html>