<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link href="artista.css" rel="stylesheet">
	<title>Artisti</title>
	<link th:href="@{/css/artista.css}" rel="stylesheet">
</head>
<body>
	<div th:replace="fragments/base.html :: login"></div>
	<h4>Elenco artisti:</h4>
    <ul>
		<li th:each="artista : ${artisti}">
		<a href="artista.html" 
		   th:href="@{'/artista' + '/' + ${artista.id}}" 
		   th:text="|${artista.nome} ${artista.cognome}|">Nome cognome</a>
		</li>
    </ul>
	<div>
		<a th:href="@{admin/artistaForm}">Inserisci dati artista</a>
	</div>
	
	<div th:replace="fragments/base.html :: footer"></div>
</body>
</html>