<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles">
</head>
<body>
	<div th:replace="fragments/base.html :: login"></div>
	<h4>Eleminazione Collezione</h4>
	<div th:replace="fragments/base.html :: navigator"></div>
 	<div class="Corpo">
 		<table></table>
 		<h1>Confermi di voler eliminare l'elemento dall'opera?</h1>
	    
	    <form th:href="@{'/opera' + '/' + ${opera.id} + '/' + 'admin/removeOpera'}"
			   th:action="@{'/opera' + '/' + ${opera.id} + '/' + 'admin/removeOpera'}"
			   th:method="POST">
			   <button type="submit">Elimina</button>
		</form>
			   
		<input type="button" value="Indietro" onClick="javascript:history.back()" name="button">
	</div>
	
	<div th:replace="fragments/base.html :: footer"></div>
</body>
</html>