<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
	<meta charset="UTF-8" />
	<link th:href="@{/css/index.css}" rel="stylesheet">
</head>
<body>
	<div class="InOut" th:fragment = "login">
		<span th:if="${accountCorrente == null}">
			<a style="text-decoration:none" th:href="@{/login}">Accedi </a>
	 		<a style="text-decoration:none" th:href="@{/register}">Registrati </a>
		</span>
		<span th:if="${accountCorrente != null}">
			<a th:text="|${accountCorrente.username}|"></a>
		 	<a style="text-decoration:none" th:href="@{/logout}">Logout </a>
		</span>		
	</div>
	
	<div class="Navigator" th:fragment = "navigator">
		<a style="text-decoration:none" href="/">Home</a>	|
		<a style="text-decoration:none" href="artisti.html" th:action="@{/artisti}" th:href="@{/artisti}">Artisti</a>  |  
	   	<a style="text-decoration:none" href="collezioni.html" th:action="@{/collezioni}" th:href="@{/collezioni}">Collezioni</a>  | 
	   	<a style="text-decoration:none" href="opere.html" th:action="@{/opere}" th:href="@{/opere}">Opere</a>  |  
	   	<a style="text-decoration:none" href="informazioni.html" th:action="@{/informazioni}" th:href="@{/informazioni}">Informazioni</a>
	</div>
	
	<div class="Footer" th:fragment = "footer">
		<footer>Piazzale degli Uffizi 6- Firenze (FI) - 50122 
				&nbsp&nbsp&nbsp
				email: museo.arte@libero.com &nbsp pec: museo.arte@pec.com &nbsp tel: 05/5294883</footer>
	</div>
</body>
</html>