h4 {
	height: 20%px;
	color: red;
	margin: 8%;
	text-align: center;
	line-height: 30px;
	font-size: 100px;
	font-weight: bold;
	font-family: "Times New Roman", Georgia, Serif;
	text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

body {
	background-image: url("/images/sfondo.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	margin-left: 0%;
	height: 100%;
}

div{
	margin-left: 1%;
	margin-right: 1%;
}
	.InOut {
		border-radius: 10px 10px 10px 10px;
		text-align: right;
		background: red;
		margin-left: 84%;
		font-weight: bold;
	}
	
	.Navigator{
		background: lightskyblue;
		border-radius: 10px 10px 0px 0px;
		font-weight: bold;
	}
	
	.Corpo {		
		min-height: 310px;
		background: tomato;
	}
	
	.Footer{
		border-radius: 0px 0px 10px 10px;
		text-align: center;
		margin-left: 1%;
		margin-right: 1%;
		background: lightgray;
		padding: auto;
		margin-bottom: 1%;
		font-size: 13px;
		font-weight: bold;
		font-style: italic;
		font-family: "Times New Roman", Georgia, Serif;
	}

table {
	margin-left: 1%;
	height: 15%;
	font-weight: bold;
	font-style: italic;
}

a {
	margin: 20px;
	margin-top:2%;
	margin-bottom:2%;
	color: black;
}

button, .button{
	border-radius: 10px 10px 10px 10px;
	margin-left:3%;
	margin-right: 1%;
	margin-bottom: 1%;
	background: lightskyblue;
	font-weight: bold;
	font-family: "Times New Roman", Georgia, Serif;
	outline: none;
	text-decoration: none; 	
}