nav{
	height:75px;
	background:lightskyblue;
}


h4{
	
	height:150px;
	color: red;
	margin:50px;
	text-align:center;
	line-height:30px;
	font-size:100px;
	font-weight:bold;
	font-family:"Times New Roman",Georgia,Serif;
	border-color:black;
	
	
}

body{
	background-image:url("/images/sfondo.jpg");
	background-size:100%;
	background-repeat:no-repeat;
	width:100%;
	margin-left: 0%;
	height:100%;
}

/*form{
  height:500px;
  margin: 10px 10px;
  background:gray;
}*/


div{
	margin-left:1%;
	height:15%;
	background:tomato;
}

table{
	margin-left:1%;
	height:15%;
	background:tomato;
}

a{
	margin:20px;
	color:black;
}

footer{
  height:15%;
  background:lightgray;
  padding:auto;
  margin-top:10%;
  margin-bottom:10%
}