/*nav {
	height: 15%;
	background: lightskyblue;
	border-radius: 10px 0px 0px 0px;
}*/

button, .button{
	border-radius: 10px 10px 10px 10px;
	margin-left:3%;
	margin-right: 1%;
	margin-bottom: 1%;
	margin-top: 1%;
	background: lightskyblue;
	font-weight: bold;
	font-family: "Times New Roman", Georgia, Serif;
	outline: none;
	text-decoration: none; 
	
}

/*button, .Button {
	padding: .7em 1.5em;
}

button:hover { background: rgb(232,95,76); } 
/*button:active { background: rgb(152,15,0); }
*/

h4 {
	height: 20%px;
	color: red;
	margin: 8%;
	text-align: center;
	line-height: 30px;
	font-size: 100px;
	font-weight: bold;
	font-family: "Times New Roman", Georgia, Serif;
	border-color: black;
}

body {
	background-image: url("/images/sfondo.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	margin-left: 0%;
	height: 100%;
}

/*form{
  height:500px;
  margin: 10px 10px;
  background:gray;
}*/

div{
	margin-left: 1%;
	margin-right: 1%;
}
	.InOut {
		border-radius: 10px 10px 10px 10px;
		text-align: right;
		background: red;
		margin-left: 85%;
		font-weight: bold;
	}
	
	.Navigator{
		height: 15%;
		background: lightskyblue;
		border-radius: 10px 10px 0px 0px;
		font-weight: bold;
	}
	
	.Corpo {
		border-radius: 0px 0px 10px 10px;
		height: 15%;
		background: tomato;
	}
	
	.Footer{
		border-radius: 10px 10px 10px 10px;
		text-align: center;
		margin-left: 1%;
		margin-right: 1%;
		height: 15%;
		background: lightgray;
		padding: auto;
		margin-top: 15%;
		margin-bottom: 1%;
		font-size: 13px;
		font-weight: bold;
		font-style: italic;
		font-family: "Times New Roman", Georgia, Serif;
	}

table {
	margin-left: 1%;
	height: 15%;
	font-weight: bold;
	font-style: italic;
}

a {
	margin: 20px;
	margin-top:2%;
	margin-bottom:2%;
	color: black;
}