<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles">
	<title>Artisti</title>
</head>
<body>
	<nav class="InOut">
 			<a th:href="@{/login}">Accedi </a>	|
 			<a th:href="@{/register}">Registrati </a>	|
 			<a th:href="@{/logout}">Logout </a>
 	</nav>
	<h4>Elenco Artisti</h4>
	
 	
 	<div th:replace="fragments/base.html :: navigator"></div>
 	<div>
	    <table>
			<tr th:each="artista : ${artisti}">
				<td>
					<a href="artista.html" 
				   	   th:href="@{'/artista' + '/' + ${artista.id}}" 
				       th:text="|${artista.nome} ${artista.cognome}|">Nome cognome</a>
				</td>
			</tr>
	    </table>
	    
		<a th:href="@{admin/artistaForm}" th:action="@{admin/artistaForm}" >Inserisci un nuovo Artista</a>
	</div>
	<footer></footer>
</body>
</html>