<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Artista</title></head>
<body>
    <div>
    	<h4>Dettagli Artista</h4>
	<div>
		<!-- 
		<table>
			<tr th:each= "a : ${artista}">
				<td th:text="${a.nome}">Paolo</td>
				<td th:text="${a.cognome}">Rossi</td>
				<td th:text="${a.nazionalita}"></td>
			</tr>
		</table>
		-->
		<div th:if="${artista}" th:object="${artista}">
			<h5 th:text="*{nome}">nome</h5>
			<h5 th:text="*{cognome}">cognome</h5>
			<span th:text="*{nazionalita}">descrizione </span>
   		</div>		
   	</div>
    </div>
    <footer><a href="/">Home</a></footer>
</body>
</html>