<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Artista</title>
	<link th:href="@{/css/artista.css}" rel="stylesheet">
</head>
<body>
    <div>
    	<h4>Dettagli Artista</h4>
	<div>
		<div th:if="${artista}" th:object="${artista}">
			<h5 th:text="*{nome}">nome</h5>
			<h5 th:text="*{cognome}">cognome</h5>
			<span th:text="*{nazionalita}">descrizione </span>
   		</div>
   		<div>
			<ul>
				<li th:each="opera : ${opere}">
				<a href="opera.html" 
				   th:href="@{'/opera' + '/' + ${opera.id}}" 
				   th:text="|${opera.titolo}|">Nome cognome</a>
				</li>
    		</ul>   		
   		</div>
   	</div>
    </div>
    <footer><a href="/">Home</a></footer>
</body>
</html>