<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles">
	<title>Collezioni</title>
</head>
<body>
	<nav class="InOut">
 			<a th:href="@{/login}">Accedi </a>	|
 			<a th:href="@{/register}">Registrati </a>	|
 			<a th:href="@{/logout}">Logout </a>
 	</nav>
	<h4>Elenco Collezioni:</h4>
	<div th:replace="fragments/base.html :: navigator"></div>
 	<div>
		<table>
			<tr th:each="collezione : ${collezioni}">
				<td>
					<a href="collezione.html" 
					   th:href="@{'/collezione' + '/' + ${collezione.id}}" 
					   th:text="|${collezione.nome}|">Nome</a>
				</td>
			</tr>
	    </table>
	    
		<a th:href="@{admin/collezioneForm}" th:action="@{admin/collezioneForm}" >Inserisci una nuova Collezione</a>
	</div>
	<footer></footer>
</body>
</html>