<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Collezione</title>
	<link th:href="@{/css/index.css}" rel="stylesheet">
</head>
<body>
	<h4>Dettagli Collezione</h4>
 	<div>
		<nav> 	
			<a href="artisti.html" th:action="@{/artisti}" th:href="@{/artisti}">Artisti</a>  |  
	   		<a href="collezioni.html" th:action="@{/collezioni}" th:href="@{/collezioni}">Collezioni</a>  | 
	   		<a href="opere.html" th:action="@{/opere}" th:href="@{/opere}">Opere</a>  |  
	   		<a href="informazioni.html" th:action="@{/informazioni}" th:href="@{/informazioni}">Informazioni</a>
	   	</nav>
   	
		<table th:object=${collezione}>
			<tr>
				<td>Nome:</td>
				<td th:text="*{nome}">La Primavera</td>
			</tr>
			<tr>
				<td>Descrizione:</td>
				<td th:text="*{descrizione}">Descrzione</td>
			</tr>
			<tr>
				<td>Elenco Opere:</td>
			<tr th:each="opera : ${collezione.opere}">
				<td>
					<a href="opera.html" 
				   	   th:href="@{'/opera' + '/' + ${opera.id}}" 
				       th:text="|${opera.titolo}|">Titolo</a>
				</td>
			</tr>
		</table>
	</div>
	<footer><a href="/">Home</a></footer>
</body>
</html>