<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles">
	<title>Collezione</title>
</head>
<body>
	<nav class="InOut">
 			<a th:href="@{/login}">Accedi </a>	|
 			<a th:href="@{/register}">Registrati </a>	|
 			<a th:href="@{/logout}">Logout </a>
 	</nav>
	<h4>Dettagli Collezione</h4>
	<div th:replace="fragments/base.html :: navigator"></div>
 	<div>
		<table th:object=${collezione}>
			<tr>
				<td>Nome:</td>
				<td th:text="*{nome}">La Primavera</td>
			</tr>
			<tr>
				<td>Descrizione:</td>
				<td th:text="*{descrizione}">Descrzione</td>
			</tr>
			<tr>
				<td>Elenco Opere:</td>
			<tr th:each="opera : ${collezione.opere}">
				<td>
					<a href="opera.html" 
				   	   th:href="@{'/opera' + '/' + ${opera.id}}" 
				       th:text="|${opera.titolo}|">Titolo</a>
				</td>
			</tr>
		</table>
	</div>
	<footer></footer>
</body>
</html>