<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link th:href="@{/css/index.css}" rel="stylesheet">
	
	 </head>
<body>
	<h4>Menu</h4>
 	<div>
		<nav> 	
			<a href="artisti.html" th:action="@{/artisti}" th:href="@{/artisti}">Artisti</a>  |  
	   		<a href="collezioni.html" th:action="@{/collezioni}" th:href="@{/collezioni}">Collezioni</a>  | 
	   		<a href="opere.html" th:action="@{/opere}" th:href="@{/opere}">Opere</a>  |  
	   		<a href="informazioni.html" th:action="@{/informazioni}" th:href="@{/informazioni}">Informazioni</a>
	   	</nav>
   	
		<table>
   			<tr>
   				<td> <a  th:action="@{/admin/artisti}" th:href="@{/artisti}">Elenco Artisti: </a></td>
   			</tr>
   			<tr>
   				<td> <a th:href="@{/admin/artistaForm}">Aggiungi Artista </a></td>
   			</tr>
   			<tr>
   				<td> <a th:action="@{/logout}" th:href="@{/logout}">Logout </a></td>
   			</tr>
   		</table>
    </div>
    <footer><a href="/">Home</a></footer>
</body>
</html>