<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
	<link href="css/index.css" rel="stylesheet">
<title>Index</title>
</head>
<body>
 	<h4>Benvenuto nel Museo</h4>
 	<div>
		<nav> 	
			<a href="artisti.html" th:action="@{/artisti}" th:href="@{/artisti}">Artisti</a>  |  
	   		<a href="collezioni.html" th:action="@{/collezioni}" th:href="@{/collezioni}">Collezioni</a>  | 
	   		<a href="opere.html" th:action="@{/opere}" th:href="@{/opere}">Opere</a>  |  
	   		<a href="informazioni.html" th:action="@{/informazioni}" th:href="@{/informazioni}">Informazioni</a>
	   	</nav>
   		
   		<table>
   			<tr>
   				<td> <a th:href="@{/login}">Accedi </a></td>
   			</tr>
   			<tr>
   				<td> <a th:href="@{/register}">Registrati </a></td>
   			</tr>
   		</table>
   	</div>
   	<footer><a href="/">Home</a></footer>
</body>
</html>
