<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles">
<title>Sito del Museo</title>
</head>
<body>
	<div th:replace="fragments/base.html :: login"></div>
 	<h4>Benvenuto nel Museo</h4>
 	<div th:replace="fragments/base.html :: navigator"></div>
   	<div class="Corpo">
   		<table></table>
   		<h3>Benvenuto nel museo degli Uffizi di Firenze</h3>
   		<h3>Tramite la barra di navigazione puoi vedere le opere presenti nel museo, i loro artisti e le varie collezioni.</h3>
   		<h3>Inoltre se sei un Curatore del Museo puoi autenticarti in alto a destra, dopo l'autenticazione puoi modificare le opere e le collezioni presenti nel museo</h3>
   		<h3>inserire nuove opere, nuove collezioni e nuovi artisti.</h3>  		
   	</div>
	
	<div th:replace="fragments/base.html :: footer"></div>
</body>
</html>
