<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link th:href="@{/css/index.css}" rel="stylesheet">
	
	 </head>
<body>
    	<h4>INFORMAZIONI</h4>
 	
	<nav> 	
		<a href="artisti.html" th:action="@{/artisti}" th:href="@{/artisti}">Artisti</a>  |  
   		<a href="collezioni.html" th:action="@{/collezioni}" th:href="@{/collezioni}">Collezioni</a>  | 
   		<a href="opere.html" th:action="@{/opere}" th:href="@{/opere}">Opere</a>  |  
   		<a href="templates/informazioni.html">Informazioni</a>
   	</nav>
   	<div>
   		<h3>Esame di Sistemi informatici sul Web</h3>
   		<h3>Questa è la soluzione del sito del museo</h3>
   		<h3>Il sito è stato creato e messo appunto dagli studenti:</h3>
   		<h3>Sensi Davide - 508825 - Ing.Informatica</h3>
   		<h3>Zappasodi Stefano - 508857 - Ing.Informatica</h3>
   	</div>
   	
   	
    <footer><a href="/">Home</a></footer>
</body>
</html>