<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles">
</head>
<body>
	<div th:replace="fragments/base.html :: login"></div>
	<h4>Informazioni</h4>
	<div th:replace="fragments/base.html :: navigator"></div>
	<div class="Corpo">
		<table></table>
		<h1>Esame di Sistemi informatici sul Web</h1>
		<h3>Questa &eacute; la soluzione del sito del museo, il sito &eacute; 
			stato creato e messo appunto dagli studenti:</h3>
		<h2>Sensi Davide - 508825 - Ing.Informatica</h2>
		<h2>Zappasodi Stefano - 508857 - Ing.Informatica</h2>
		&nbsp;
	</div>
		
	<div th:replace="fragments/base.html :: footer"></div>
</body>
</html>