<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link href="css/index.css" rel="stylesheet">
</head>
<body>
	<nav class="InOut">
 			<a th:href="@{/login}">Accedi </a>	|
 			<a th:href="@{/register}">Registrati </a>	|
 			<a th:action="@{/logout}" th:href="@{/logout}">Logout </a>
 	</nav>
	<h4>Login</h4>
 	<div>
		<nav> 
			<a href="/">Home</a>	|	
			<a href="artisti.html" th:action="@{/artisti}" th:href="@{/artisti}">Artisti</a>  |  
	   		<a href="collezioni.html" th:action="@{/collezioni}" th:href="@{/collezioni}">Collezioni</a>  | 
	   		<a href="opere.html" th:action="@{/opere}" th:href="@{/opere}">Opere</a>  |  
	   		<a href="informazioni.html" th:action="@{/informazioni}" th:href="@{/informazioni}">Informazioni</a>
	   	</nav>
		
		<form th:action="@{/login}" method="POST">
			<table>
				<tr>
					<td>Username:</td>
					<td><input name="username" type="text" required /></td>
				</tr>		
				
				<tr>
					<td>Password:</td>
					<td><input name="password" type="password" required /></td>
				</tr>
				<tr>
					<td><button type="submit">Login</button></td>
				
					<td><button><a th:href="@{/register}">Registrati</a></button></td>
				</tr>
			</table>
		</form>
	</div>
    <footer></footer>
</body>
</html>