<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles">
</head>
<body>
	<div th:replace="fragments/base.html :: login"></div>
	<h4>Login</h4>
	<div th:replace="fragments/base.html :: navigator"></div>
 	<div class="Corpo">
		<form th:action="@{/login}" method="POST">
			<table>
				<tr>
					<td>Username:</td>
					<td><input name="username" type="text" required /></td>
				</tr>		
				
				<tr>
					<td>Password:</td>
					<td><input name="password" type="password" required /></td>
				</tr>
				<tr>
					<td><button type="submit">Login</button></td>
				
					<td><button><a th:href="@{/register}">Registrati</a></button></td>
				</tr>
				
			</table>
		</form>
	</div>
	
	<div th:replace="fragments/base.html :: footer"></div>
</body>
</html>