<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link href="artista.css" rel="stylesheet">
	<link th:href="@{/css/index.css}" rel="stylesheet">
	<title>Opere</title>
</head>
<body>
	<nav class="InOut">
 			<a th:href="@{/login}">Accedi </a>	|
 			<a th:href="@{/register}">Registrati </a>	|
 			<a th:action="@{/logout}" th:href="@{/logout}">Logout </a>
 	</nav>
	<h4>Elenco Opere:</h4>
 	<div>
		<nav> 	
			<a href="/">Home</a>	|
			<a href="artisti.html" th:action="@{/artisti}" th:href="@{/artisti}">Artisti</a>  |  
	   		<a href="collezioni.html" th:action="@{/collezioni}" th:href="@{/collezioni}">Collezioni</a>  | 
	   		<a href="opere.html" th:action="@{/opere}" th:href="@{/opere}">Opere</a>  |  
	   		<a href="/informazioni.html" th:action="@{/informazioni}" th:href="@{/informazioni}">Informazioni</a>
	   	</nav>
	    <table>
			<tr th:each="opera : ${opere}">
				<td>
					<a href="opera.html" 
					   th:href="@{'/opera' + '/' + ${opera.id}}" 
					   th:text="|${opera.titolo}|">Titolo</a>
				</td>
			</tr>
	    </table>
	</div>
    <footer></footer>
</body>
</html>