<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles">
	<title>Opere</title>
</head>
<body>
	<div th:replace="fragments/base.html :: login"></div>
	<h4>Elenco Opere:</h4>	
	<div th:replace="fragments/base.html :: navigator"></div>
 	<div class="Corpo">
 		&nbsp;
		<table>
			<tr th:each="opera : ${opere}">
				<td>
					<a href="opera.html" 
					   th:href="@{'/opera' + '/' + ${opera.id}}" 
					   th:text="| &bull; ${opera.titolo}|">Titolo</a>
				</td>
			</tr>
	    </table>
	    &nbsp;
	    <span th:if="${accountCorrente != null}">
			<form th:href="@{admin/operaForm}" th:action="@{admin/operaForm}" >
				<button type="submit">Inserisci Opera</button>
			</form>
		</span>		
	</div>
	
	<div th:replace="fragments/base.html :: footer"></div>
</body>
</html>