<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link th:href="@{/css/index.css}" rel="stylesheet">
	<title>Opera</title></head>
<body>
	<nav class="InOut">
 			<a th:href="@{/login}">Accedi </a>	|
 			<a th:href="@{/register}">Registrati </a>	|
 			<a th:href="@{/logout}">Logout </a>
 	</nav>
	<h4>Dettagli Opera</h4>
	
	<div>
		<nav> 	
			<a href="/">Home</a>	|
			<a href="artisti.html" th:action="@{/artisti}" th:href="@{/artisti}">Artisti</a>  |  
	   		<a href="collezioni.html" th:action="@{/collezioni}" th:href="@{/collezioni}">Collezioni</a>  | 
	   		<a href="opere.html" th:action="@{/opere}" th:href="@{/opere}">Opere</a>  |  
	   		<a href="informazioni.html"  th:action="@{/informazioni}" th:href="@{/informazioni}">Informazioni</a>
	   	</nav>
		<table th:object=${opera}>
			<tr>
				<td>Titolo:</td>
				<td th:text="*{titolo}">La Primavera</td>
			</tr>
			<tr>
				<td>Anno:</td>
				<td th:text="*{anno}">1500</td>
			</tr>
			<tr>
				<td>Descrizione:</td>
				<td th:text="*{descrizione}">Desc</td>
			</tr>
			<tr>
				<td>Autore:</td>
				<td th:text="|${opera.artista.nome} ${opera.artista.cognome}|"></td>
				<td><a href="artista.html" 
				   	   th:href="@{'/opera.artista' + '/' + ${opera.artista.id}}">Maggiori Informazioni</a></td>
			</tr>
			<tr>
				<td>Collezione:</td>
				<td th:text="${opera.collezione.nome}"></td>
				<td><a  href="collezione.html"
						th:href="@{'/opera.collezione' + '/' + ${opera.collezione.id}}">Maggiori Informazioni</a></td>
			</tr>				
		</table>
	</div>
	<footer></footer>
</body>
</html>