<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles">
</head>
<body>
	<nav class="InOut">
 			<a th:href="@{/login}">Accedi </a>	|
 			<a th:href="@{/register}">Registrati </a>	|
 			<a th:href="@{/logout}">Logout </a>
 	</nav>
    <h4>Registrazione</h4>
    
    <div th:replace="fragments/base.html :: navigator"></div>
    <div> 	
		<h1>Congratulazioni ti sei registrato!</h1>
		<table th:if="${user}" th:object="${curatore}">
			<tr>
				<td>Nome:</td>
				<td th:text="*{nome}"></td>
			</tr>			
			<tr>
				<td>Cognome:</td>
				<td th:text="*{cognome}"></td>
			</tr>
		</table>
	</div>
    <footer></footer>
</body>
</html>